
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  
}
.hover:hover{
  background-color: rgba(230, 222, 117, 1);
}
.selected-user {
  background-color: rgba(230, 222, 117, 1);
}